/* REDES */
section#redes{
	padding:1.5em 0;
	clear:both;
	background:#B1C3CF;
}
section#redes div[class^="col-"] p{
	font-family: 'Alegreya', serif;
	font-weight:400;
	font-style:italic;
	line-height:1.2;
	padding-bottom:1em;
}
section#redes div[class^="col-"] p a{text-decoration:none;}
section#redes div[class^="col-"] p a:hover{text-decoration:none;}
section#redes div[class^="col-"] h3{
	padding:0 0 0.5em 0;
	font-family: 'Open Sans', sans-serif; 
	font-weight:800;
	text-transform:uppercase;
	line-height:1.3;
	color:#444;
}
section#redes div[class^="col-"] h3 a.twitter{transform:all ease 0.5s;}
section#redes div[class^="col-"] h3 a.twitter:hover::after{
	content:'.com/usuarioquesea';
	text-decoration:none;
}
section#redes div[class^="col-"] h4{
	padding:0 0 0.5em 0;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:0.1em;
}
section#redes div[class^="col-"] h4 a:hover{text-decoration:none;}
section#redes div[class^="col-"] h5{
	padding:0 0 0.5em 0;
	font-family: 'Open Sans', sans-serif; 
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:0.1em;
}
/* METRICAS */
section#metricas{
	padding:1.5em 0;
	clear:both;
	background:#6A8EA7;
	color:#DAE3E9;
}
section#metricas div[class^="col-"] h3{
	font-weight:800;
	letter-spacing:0.2em;
	line-height:1.4;
	text-align:center;
}
section#metricas div[class^="col-"] ul{
	padding:0 0 2em 0;
	margin:0;
	list-style:none;
	border-top:3px solid #fff;
}	
section#metricas div[class^="col-"] ul li{
	padding:0.5em 0;
	margin:0;
	border-top:1px solid #fff;
	font-family: 'Alegreya', serif;
	font-weight:700;
	font-style: italic;
	letter-spacing:0.05em;
}
section#metricas div[class^="col-"] ul li a{
	color:#B5C7D3;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-weight:700;
	font-style: normal;
}
section#metricas div[class^="col-"] ul li a:hover{
	color:#fff;
	text-decoration:none;
}
section#metricas div[class^="col-"] img{
	width:100%;
}
/* FOOTER */
footer{
	padding:1.5em 0;
	clear:both;
	color:white; 
	background:#243443;
}
.share{
	font-family:'Open Sans Condensed', sans-serif; 
	font-weight:300;	
}
.share ul{
	list-style:none;
	padding:0;
	margin:0;
}
.share ul li{
	padding:0 0.5em 0.5em 0;
	margin:0;
}
.share ul li a{
	text-decoration:none;
	color:#999;	
}
.share ul li a:hover{
	text-decoration:none;
	color:#555;	
}